<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{i18n.titleH1}} {{i18n.titleH1span}}</title>
    <style>
        .bold {
            font-weight: bold;
            font-size: 18px;
        }

        .red {
            color: red;
        }
    </style>
</head>

<body>
   <h1>היי {{data.name}},</h1>
   
  <img src="http://ronichabra.com/projects/barber/content/img/logo.png" />
   </body>

</html>